@import url('https://fonts.googleapis.com/css2?family=Anton&family=Indie+Flower&family=Pacifico&family=Shadows+Into+Light&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(205,113,224,1) 25%, rgba(135,70,195,1) 50%, rgba(75,49,217,1) 75%, rgba(148,187,233,1) 100%);
}

.header {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 padding: 24px;
 border-bottom: 0.2rem solid white;
 background-color: #5BD3A9;
 
 
 
}

.h1-header {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;

}

.item-menu {
    margin: 30px;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    background-color: #5DD5AD;
    border-radius: 100px;
    
}
.item-menu:hover {
    background-color: #30AA80;
}

.conteudo-principal {
    margin-top: 10%;

}

#pinturas {
    display: grid;
    grid-template-columns: 500px 500px;
    text-align: center;
    justify-content:space-around ;
}


}

.titulo-section {
    
}

.div-pintura{
    



}

.imagem-pintura{
    
    
    
    

}

.titulo { 
    font-family: 'Shadows Into Light', cursive;
    margin-top: 15px;

}

.descricao{
    font-family: 'Pacifico', cursive;
    
    
    
    
}

.referencia {
    font-family: 'Pacifico', cursive;
    
}



.div-livro {

}

.imagem-livro {
    





}

.imagem-filme {
    

}



.div-musica {

}

.footer {

}

.contatos-itens {
    text-align: center;


}

.git-link {
    font-family: 'Anton', sans-serif;
    
    
}
h3 {
    margin-top: 100px;
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    text-align: center;

}

a:link, i {
    color: black;
  }